---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mark Tallentire">
	<main>	
		<h1>Hello</h1>		
		
		<section>
			
				<h2>Introduction</h2>			
				<p>I'm Mark Tallentire, I enable people to make cool things and put them in the cloud.</p>	

			
		</section>

		<!-- <section>
			<div class="section-header">
				<h2>Posts</h2>
			</div>
		</section>
		<section>
			<div class="section-header">
				<h2>Projects</h2>
			</div>
		</section> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 16px;
		line-height: 1.6;		
	}		

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: .25em;
		color: #AF5F5F
	}

	section {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}


	section h2{
		margin-bottom: 1px;
		line-height: 1;
		color: #AF5F5F
	}
	
</style>
